* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    background-color: rgb(20,18,18);
    box-shadow: 0 2px 8px rgba(0,0,0,.08);

}

.navbar-logo a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    color: #ecead4;

}

.navbar-links {
    display: flex;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.navbar-links a {
    text-decoration: none;
    color: #d5d7dc;
    font-weight: 500;
    transition: color .25s;
}

.navbar-links a:hover {
    color: #d4af37;
}

.navbar-links a.active {
    color: #d4af37;
    font-weight: 700;
}

.estimate-button {
    background: #d4af37;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background .25s;
}

.estimate-button:hover {
    background: #d4af37;
}