.referral-form {
    max-width: 650px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.referral-form label {
    font-weight: bold;
}

.referral-form input,
.referral-form textarea {
    padding: 12px;
    font-size: 1rem;

    border: 1px solid #ccc;
    border-radius: 8px;
}

.referral-form textarea {
    resize: vertical;
}

.referral-form button {
    margin-top: 20px;

    padding: 14px;

    border: none;

    background: #ebca25;
    color: white;

    border-radius: 8px;

    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;
}

.referral-form button:hover {
    background: #ebca25;
}
.submission-message {
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}